<ul>
  <li (click)="clickedThing(favoriteThing)" 
      *ngFor="let favoriteThing of favoriteThingsArray; let i = index;">
        {{ i + 1 }}.  {{ favoriteThing.name }} 
  </li>
</ul>

<form (submit)="addFavoriteThing(favoriteThing.value)">
    <div>
      <label for="favoriteThing">Add A Favorite Thing:</label>
      <input type="text" #favoriteThing>
    </div>
</form>

<br>
<br>

{{ selectedThing | json }}
<br>

<app-editfavoritething [selectedThing]="selectedThing"></app-editfavoritething>
